# Introducción a las Transformaciones de Datos
Las transformaciones de datos son un paso fundamental en el análisis y preparación de datos. Consisten en modificar, reorganizar o limpiar los datos para que estén en un formato adecuado para el análisis o modelado. Estas transformaciones permiten mejorar la calidad de los datos, facilitar su análisis y prepararlos para modelos de aprendizaje automático.

# Transformaciones Comunes
Algunas transformaciones comunes incluyen:

1. **Normalización**: Escalar los datos para que estén en un rango específico.
2. **Codificación**: Convertir datos categóricos en valores numéricos.
3. **Agrupación**: Agrupar datos por categorías y calcular estadísticas.
4. **Pivotar datos**: Transformar filas en columnas o viceversa.

Estas operaciones son esenciales para preparar los datos para análisis más avanzados.

# Ejemplo Básico con Pandas
Pandas es una biblioteca de Python ampliamente utilizada para la manipulación y análisis de datos. En este ejemplo, cargaremos y filtraremos datos de un archivo CSV.

**Instrucción**: Completa el código para cargar un CSV y filtrar los datos de una columna, comprobando si son > 25

# Ejemplo Básico de Transformación con Pandas
En este ejemplo, realizaremos transformaciones comunes con Pandas, como eliminar valores nulos, rellenar valores, crear nuevas columnas, filtrar y ordenar datos.

Usa el siguiente DataFrame:

```python
#DataFrame con datos de ejemplo 
data = {'Nombre': ['Ana', 'Luis', 'María', 'Juan'],
        'Edad': [25, 30, None, 22],
        'Salario': [3000, 4000, 3500, None]}
```

**Instrucción**: Elimina las edades con valores nulos.

**Instrucción**: Establece un valor por defecto para los salarios con valores nulos.

**Instrucción**: Crea una nueva columna llamada "Salario_anual" cuyo valor sea el Salario multiplicado por 12.

**Instrucción**: Crea un DataFrame con las personas que tienen una Edad superior a 25 años.

**Instrucción**: Crea un DataFrame con los datos ordenados por salario en orden descentente.

# Ejemplo Básico con Polars
Polars es una biblioteca de Python diseñada para el análisis de datos de alto rendimiento. En este ejemplo, cargaremos y filtraremos datos de un archivo CSV.


**Instrucción**: Completa el código para cargar un CSV y filtrar los datos de una columna, comprobando si son > 25

# Ejemplo Básico de Transformación con Polars
En este ejemplo, realizaremos transformaciones comunes con Polars, como eliminar valores nulos, rellenar valores, crear nuevas columnas, filtrar y ordenar datos.

Usa el siguiente DataFrame:

```python
#DataFrame con datos de ejemplo 
data = {'Nombre': ['Ana', 'Luis', 'María', 'Juan'],
        'Edad': [25, 30, None, 22],
        'Salario': [3000, 4000, 3500, None]}
```

**Instrucción**: Elimina las edades con valores nulos.

**Instrucción**: Establece un valor por defecto para los salarios con valores nulos.

**Instrucción**: Crea una nueva columna llamada "Salario_anual" cuyo valor sea el Salario multiplicado por 12.

**Instrucción**: Crea un DataFrame con las personas que tienen una Edad superior a 25 años.

**Instrucción**: Crea un DataFrame con los datos ordenados por salario en orden descentente.

# Comparativa entre Pandas y Polars
| **Característica**        | **Pandas**                                   | **Polars**                                   |
|---------------------------|----------------------------------------------|----------------------------------------------|
| **Rendimiento**           | Bueno para datasets pequeños y medianos      | Excelente para grandes volúmenes de datos    |
| **Paralelismo**           | Limitado                                     | Soporte completo para procesamiento paralelo |
| **Manejo de memoria**     | Menos eficiente                              | Muy eficiente                                |
| **Facilidad de uso**      | Muy fácil, con una curva de aprendizaje baja | Fácil, pero requiere aprender nuevas APIs    |
| **Soporte para Big Data** | Limitado                                     | Excelente, compatible con Apache Arrow       |
| **Casos de uso ideales**  | Análisis exploratorio y preparación de datos | Procesamiento de datos a gran escala         |